<%= form_for(animal) do |f| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :birth %>
    <%= f.date_select :nascimento, start_year: Date.today.year - 30, end_year: Date.today.year %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sexo, [['Male'], ['Female']] %>
  </div>

  <div class="field">
    <%= f.label :fur %>
    <%= f.text_field :pelagem %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.collection_select :tipo_id, Tipo.order(:descricao), :id, :descricao %>
  </div>

  <div class="field">
    <%= f.label :breed %>
    <%= f.collection_select :raca_id, Raca.order(:descricao), :id, :descricao %>
    <%-# f.grouped_collection_select :raca_id, Tipo.order(:descricao), :racas, :descricao, :id, :descricao, include_blank: true -%>
  </div>

  <div class="field">
    <%= f.label :owner %>
    <%= f.collection_select :user_id, User.order(:email), :id, :email %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :foto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
