<p id="notice"><%= notice %></p>

<h1>Animals</h1>
<%= flash[:alert] %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth</th>
      <th>Sex</th>
      <th>Fur</th>
      <th>Type</th>
      <th>Breed</th>
      <th>Owner</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <% if can? :manage, animal %>
        <tr>
          <td><%= animal.nome %></td>
          <td><%= animal.nascimento.strftime("%m/%d/%Y") %></td>
          <td><%= animal.sexo %></td>
          <td><%= animal.pelagem %></td>
          <td><%= animal.tipo.descricao %></td>
          <td><%= animal.raca.descricao %></td>
          <td><%= animal.user.email %></td>
          <td><%= image_tag(animal.foto_url, width: 100) if animal.foto.present? %></td>
          <td><%= link_to 'Show', animal %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
