<p>
  <strong>Name:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @animal.nascimento.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal.sexo %>
</p>

<p>
  <strong>Fur:</strong>
  <%= @animal.pelagem %>
</p>

<p>
  <strong>Type:</strong>
  <%= @animal.tipo.descricao %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.raca.descricao %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @animal.user.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@animal.foto_url, width: 100) if @animal.foto.present? %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
