<%= form_for(consultum) do |f| %>
  <% if consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reason %>
    <%= f.text_field :motivo %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :dia, start_year: Date.today.year, end_year: Date.today.year + 30 %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :horario %>
  </div>

  <div class="field">
    <%= f.label :client %>
    <%= f.collection_select :user_id, User.order(:email), :id, :email %>
  </div>

  <div class="field">
    <%= f.label :pacient %>
    <%= f.collection_select :animal_id, Animal.order(:nome), :id, :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
