<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Date</th>
      <th>Time</th>
      <th>Client</th>
      <th>Pacient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulta.each do |consultum| %>
      <% if can? :manage, consultum %>
        <tr>
          <td><%= consultum.motivo %></td>
          <td><%= consultum.dia.strftime("%m/%d/%Y") %></td>
          <td><%= consultum.horario.strftime("%H:%M") %></td>
          <td><%= consultum.user.email %></td>
          <td><%= consultum.animal.nome %></td>
          <td><%= link_to 'Show', consultum %></td>
          <td><%= link_to 'Edit', edit_consultum_path(consultum) %></td>
          <td><%= link_to 'Destroy', consultum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_consultum_path %>
