<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @consultum.motivo %>
</p>

<p>
  <strong>Date:</strong>
  <%= @consultum.dia.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @consultum.horario.strftime("%H:%M") %>
</p>

<p>
  <strong>Client:</strong>
  <%= @consultum.user.email %>
</p>

<p>
  <strong>Pacient:</strong>
  <%= @consultum.animal.nome %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
